<h1>Links</h1>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
    Title: <%= link.title %>
    URL:   <%= link.url %>
  </li>
<% end %>
</ul>
<!-- <br>
<h2> Add link? </h2> -->

<form action='/newlink' method="get">
    <button type="submit">New link</button>
</form>
