<h1>Links</h1>
<ul id='links'>
    <% @links.each do |link| %>
      <li>
        <a href="https://<%= link.url %>"><%= link.title %></a>
      </li>
      <% end %>
  </ul>
  <br>
<input type="submit" value="Add a new link">
