<form action='/links' method='POST'>
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="URL" name="url">
  <input type="text" placeholder="tags" name="tags">
  <input type="submit" value="Add Link">
</form>
