<form action="/users" method='POST'>
  <label for='email'>
    Email:
    <input name='email' type='text' value='<%= @user.email %>'>
  </label>
  <label for='password' >
    password:
    <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
   Password confirmation: <input name='password_confirmation' type='password'>
 </label>
   <input type="submit" value="Submit">
 </form>
