<form action="/users" method='POST'>
  <label for='email'>
    Email
    <input name='email' type='text'>
  </label>
  <label for='password' >
    password
    <input name='password' type='text'>
  </label>
   <input type="submit" value="Submit">
 </form>
