<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
    <body>
      <%if current_user%>
        Welcome, <%=current_user.email %>
      <% end %>
      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to th following errors below:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li style="color: red"><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <%= yield %>
    </body>
</html>
